
*{
  padding: 0;
  margin: 0;
}

body{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    margin-top: 40px;
    background-image: url(/pexels-darius-krause-2182040.jpg);
    color: rgb(255, 255, 255);
    font-size: 30px;
}


.calculator {
  padding: 20px;
  border-radius: 20px;
  height: 600px;
  width: 350px;
  margin: auto;
  background-color: #6b8179;
  margin-top: 80px;
  text-align: center;
}

.result {
  font-family: 'Orbitron', sans-serif;
  background-color: #dcdbe1;
  border: solid black 0.5px;
  color: black;
  border-radius: 10px;
  width: 100%;
  height: 150px;
  margin-top: -0px;
  text-align: right;
  font-size: 40px;
  cursor: wait;
  
}

#btn {
  background-color: #f1eaed;
  color: black;
  font-size: 19px;
  font-weight: bold;
  cursor: grab;
  
}
#btn:hover{
  background-color: black;
  color: #dcdbe1;
}


input {
  font-family: 'Orbitron', sans-serif;
  background-color: #c2c7b1;
  color: rgb(13, 10, 10);
  border: solid black 0.5px;
  width: 100%;
  border-radius: 50px;
  height: 95%;
  font-size: 20px;
  cursor: pointer;
}

#divid {
font-size: 15px;
}

input:hover{
  background-color: black;
  color: #dcdbe1;
}
div{
font-size:20px; 
display: flex; 
align-items: center; 
justify-content: center;
margin-top:10px ;
color: rgb(223, 194, 194);
}
